::deep .quickgrid[theme=corporate] {
    font-family: 'Microsoft YaHei', SimHei, Sans Serif;
    color: #0e3973;
}

    ::deep .quickgrid[theme=corporate] .col-title {
        gap: 0.4rem; /* Separate the sort indicator from title text */
        font-weight: bold;
        text-transform: uppercase;
    }

    ::deep .quickgrid[theme=corporate] .sort-indicator {
        color: blue;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:hover, ::deep .quickgrid[theme=corporate] .col-options-button:hover {
        background-color: #62adff;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:active, ::deep .quickgrid[theme=corporate] .col-options-button:active {
        background-color: #d9f2a9;
    }

    ::deep .quickgrid[theme=corporate].table > :not(caption) > * > * {
        padding: 0rem 0rem;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #d8d8d8;
    outline: 1px solid gray;
    z-index: 1;
}

/* 行间隔深浅条纹效果 */
::deep tbody tr {
    background-color: rgb(120, 138, 172, 0.05);
}

    ::deep tbody tr:nth-child(even) {
        background: rgb(248, 255, 250, 0.50);
    }

/* 表格 样式 */
::deep tbody td {
    border-right-color: rgb(20, 38, 72, 0.1);
    border-right-width: 1px;
}

/* 输入框 样式 */
::deep tbody input {
    border: 0px;
    background-color: rgb(255, 255, 255, 0.5);

    width: 100%;
}


/* 输入框 number 样式 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* 载入页面动画 */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}