
/* 行间隔深浅条纹效果 */
::deep tbody tr {
    background-color: rgb(120, 138, 172, 0.35);
    font-size: 0.95em;
    white-space: nowrap;
}

    ::deep tbody tr:nth-child(even) {
        background: rgb(228, 235, 250, 0.50);
    }

/* 表格 样式 */
::deep tbody td {
    border-right-color: rgb(20, 38, 72, 0.1);
    border-right-width: 1px;
}

/* 输入框 样式 */
::deep tbody input {
    border: 0px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
}


/* 输入框 number 样式 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
